/* These are copied from the PDF.js web viewer with a few of my own modifications */
.PageText {
	/*
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	line-height: 1;
	*/
	text-size-adjust: none;
}

.PageText > span, br {
	position: absolute;
	color: transparent; 
	white-space: pre;
	transform-origin: 0% 0%;
	opacity: 0.3;
	cursor: text;
}

.PageText > br {
	user-select: none;
}