/* Somewhat based off of pdf.js web viewer */

.PageText {
	text-size-adjust: none;
}

.PageText > span, br {
	position: absolute;
	color: transparent; 
	white-space: pre;
	transform-origin: 0% 0%;
	opacity: 0.3;
	cursor: text;
}

.PageText > br {
	user-select: none;
}