@tailwind base;
@tailwind components;
@tailwind utilities;

/* This is kind of disgusting b/c -- it means the composer's styles are not self-contained
   and will be loaded for every page.

   We do this because we want to use this class on inputs and textareas
*/

.Form-Input {
        @apply rounded appearance-none border-solid border-gray-400 focus:border-sky-500 border focus:border-2 focus:outline-none

}

/* This is fussy on mobile browsers
   https://github.com/mvasin/react-div-100vh
   https://stackoverflow.com/questions/37112218/css3-100vh-not-constant-in-mobile-browser
html, body {
        min-height: 100vh;
        margin: 0;
        height: 100%;
}
*/